@model DemoNetcore.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Student" asp-action="Index">
    <p>
         <select asp-for="loaidachon" asp-items="Model.ds">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].PersonFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
