@model DemoNetcore.Models.hoadon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>hoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoadonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoadonCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoadonFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoadonFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.hoadonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
