@model IEnumerable<DemoNetcore.Models.khachhang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.khachhangCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khachhangFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.khachhangCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khachhangFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.khachhangId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.khachhangId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.khachhangId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
